.wrap {
    display: flex;
    gap: 20px;
  }
  
  .good {
    text-transform: capitalize; 
    cursor: pointer;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 4px;
    border-width: 1px;
  }
  
  .good:hover {
    background-color: rgba(0, 180, 200, 0.405);
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.338);
  }
  
  .neutral {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 4px;
    border-width: 1px;
  }
  
  .neutral:hover {
    background-color: rgba(0, 180, 200, 0.405);
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.338);
  }
  
  .bad {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 4px;
    border-width: 1px;
  }
  
  .bad:hover {
    background-color: rgba(0, 180, 200, 0.405);
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.338);
  } 